pandas==2.3.3
numpy==2.2.6
scikit-learn==1.7.2
matplotlib==3.10.7
seaborn==0.13.2
mlflow==3.7.0
fastapi==0.123.10
uvicorn==0.38.0
evidently==0.7.17
requests==2.32.5
python-dotenv==1.2.1
pyyaml==6.0.3
